ETH_SIGNER_MNEMONIC="effort receive vessel fade muffin mind legend island weird earth key share"
LENDER_MNEMONIC="jewel matrix priority spice second razor corn express skirt lab pony modify"
BORROWER_MNEMONIC="shift mistake swing miss decrease mandate shift occur absent bacon bubble magnet"
ARBITER_MNEMONIC="dignity case rely kidney north profit express riot liberty office tiny exile"
LIQUIDATOR_MNEMONIC="fun gaze fury series coffee knee anxiety keep barely fire suggest approve"